<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/add}" method="post">
    <div class="form-group">
        <label>用户名</label>
        <input type="text" class="form-control" name="lastName">
    </div>
    <div class="form-group">
        <label>email</label>
        <input type="email" class="form-control" name="email" placeholder="email">
    </div>
    <div class="form-group">
        <label>男</label>
        <input type="radio" value="1" name="gender">
    </div>
    <div class="form-group">
        <label>女</label>
        <input type="radio" value="0" name="gender">
    </div>
    <div>
        <select name="department.id">
            <option th:each="dept:${deps}" th:text="${dept.getDepartmentName()}" th:value="${dept.getId()}">暂无部门消息
            </option>
        </select>
    </div>
    <div class="form-group">
        <label>日期</label>
        <input type="text" name="birth">
    </div>
    <button type="submit">Submit</button>
</form>
</body>
</html>